@font-face {
    font-family: 'Roboto Condensed';
    font-weight: 400;
    src: url(../fonts/RobotoCondensed-Regular.ttf);
}

@keyframes countdown-color {
    0%   {color: #8A8A80;}
    50%  {color: #3F3F3D;}
    100% {color: #8A8A80;}
}

@keyframes dots {
    0%, 20% {
        color: rgba(0,0,0,0);
        text-shadow:
                .25em 0 0 rgba(0,0,0,0),
                .5em 0 0 rgba(0,0,0,0);
    }

    40% {
        color: #808063;
        text-shadow:
                .25em 0 0 rgba(0,0,0,0),
                .5em 0 0 rgba(0,0,0,0);
    }

    60% {
        text-shadow:
                .25em 0 0 #808063,
                .5em 0 0 rgba(0,0,0,0);
    }

    80%, 100% {
        text-shadow:
                .25em 0 0 #808063,
                .5em 0 0 #808063;
    }
}

@keyframes dots-mobile {
    0%, 20% {
        color: rgba(0,0,0,0);
        text-shadow:
                .25em 0 0 rgba(0,0,0,0),
                .5em 0 0 rgba(0,0,0,0);
    }

    40% {
        color: #ccccbc;
        text-shadow:
                .25em 0 0 rgba(0,0,0,0),
                .5em 0 0 rgba(0,0,0,0);
    }

    60% {
        text-shadow:
                .25em 0 0 #ccccbc,
                .5em 0 0 rgba(0,0,0,0);
    }

    80%, 100% {
        text-shadow:
                .25em 0 0 #ccccbc,
                .5em 0 0 #ccccbc;
    }
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

html, body {
    height: 100%;
    max-height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

a {
    color: #808063;
    outline: none;

    -moz-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    -webkit-transition: all .15s ease-in;
    transition: all .15s ease-in;
}

a:hover {
    color: #ccccbc !important;
    outline: none;
}

input {
    border-radius: 0;
    outline: 0;
}

.btn {
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.50);
    display: inline-block;
    outline: 0;

    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);

    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;

    -webkit-transition-property: transform;
    transition-property: transform;

    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.btn:hover, .btn:focus {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
}

.btn:active {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
}

.btn.download {
    border-radius: 4px;
}

input::-webkit-input-placeholder {color:#ccccbc; opacity: 0.4;}
input::-moz-placeholder          {color:#ccccbc; opacity: 0.4;}
input:-moz-placeholder           {color:#ccccbc; opacity: 0.4;}
input:-ms-input-placeholder      {color:#ccccbc; opacity: 0.4;}

.container {
    background-attachment: fixed;
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
    max-width: 620px;
    text-align: center;
}

body {
    background-size: 120px;
    background: url(../img/grain@1x.png), -webkit-gradient(linear, left top, left bottom, from(#353531), to(#0A0A0A)) fixed;
    background-blend-mode: overlay;
    font-family: 'Roboto Condensed';
    font-size: 15px;
    line-height: 21px;
}

@media (-webkit-min-device-pixel-ratio: 2) {
    body {
        background: url(../img/grain@2x.png), -webkit-gradient(linear, left top, left bottom, from(#353531), to(#0A0A0A)) fixed;
    }
}

@media (-webkit-min-device-pixel-ratio: 3) {
    body {
        background: url(../img/grain@3x.png), -webkit-gradient(linear, left top, left bottom, from(#353531), to(#0A0A0A)) fixed;
    }
}

.bg-wrapper {
    background-size: cover;
    box-shadow: 0 30px 100px 0 rgba(0,0,0,0.50);
    margin-bottom: 100px;
    margin-top: 120px;
}

.countdown {
    color: #3F3F3D;
    font-size: 15px;
    line-height: 21px;
    margin-top: -35px;
    position: fixed;
    right: 50px;
    top: 50%;
    z-index: 10;

    animation: countdown-color 4s;
    -moz-animation: countdown-color 4s infinite;
    -webkit-animation: countdown-color 4s infinite;

    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.countdown.left {
    left: 50px;
    right: auto;

    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.email {
    margin-bottom: 100px;
    position: relative;
}

.email input {
    /*background-image: radial-gradient(50% 152%, #353531 50%, #0A0A0A 100%);*/
    background: rgba(255, 255, 255, 0.1);
    border: 0;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.50);
    color: #ccccbc;
    font-family: 'Roboto Condensed';
    font-size: 15px;
    height: 40px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 170px;
    width: 100%;
}

.email .submit {
    color: #808063;
    font-size: 14px;
    line-height: 14px;
    position: absolute;
    right: 15px;
    text-decoration: none;
    text-transform: uppercase;
    top: 13px;
}

.email .submit.active:after {
    content: '.';
    animation: dots 1s steps(5, end) infinite;
}

.email .submit-mobile .active:after {
    content: '.';
    animation: dots-mobile 1s steps(5, end) infinite;
}

.email .submit.active:hover {
    color: #808063 !important;
    cursor: default;
}

.email-finish, .email .submit-mobile {
    background: #2f4f33;
    color: #ccccbc;
    display: none;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

.ios-download, .android-download {
    display: none;
}

.logo {
    background: center no-repeat url(../img/logo@1x.png);
    background-size: cover !important;
    display: inline-block;
    height: 46px;
    margin-bottom: 48px;
    margin-top: 64px;
    width: 108px;
}

@media (-webkit-min-device-pixel-ratio: 2) {
    .logo {
        background: center no-repeat url(../img/logo@2x.png);
    }
}

@media (-webkit-min-device-pixel-ratio: 3) {
    .logo {
        background: center no-repeat url(../img/logo@3x.png);
    }
}

.other-story {
    margin-bottom: 70px;
    margin-top: 40px;
    text-align: left;
}

.other-story > a {
    color: #7F7F63;
}

.other-story > a:hover {
    color: #ccccbc;
}

.story-wrapper {
    display: inline-block;
    text-align: left;
    width: 480px;
}

#story {
    color: #ccccbc;
    text-align: justify;
}

.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.story-desc {
    color: #4C4C48;
    margin-bottom: 25px;
}

.story-desc > span {
    color: #c1c1ae;
}

.story-wrapper hr {
    display: none;
}

.links {
    margin-bottom: 70px;
}

.links a {
    text-decoration: none;
}

.links a + a {
    margin-left: 30px;
}

.company-desc {
    color: #5e5e59;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 30px;
}

.company-desc > a {
    color: #6c6d51;
}

@media (max-width: 500px) {
    .container {
        background-attachment: fixed;
        height: 100%;
        max-height: 100%;
        max-width: 100%;
        padding: 0;
        overflow-y: scroll;
    }

    .android-download, .ios-download {
        display: inline-block;
        float: right;
        margin-right: 20px;
        margin-top: 20px;
    }

    .bg-wrapper {
        background-image: none !important;
        box-shadow: none;
        margin: 0;
    }

    .countdown {
        margin-top: 0;
        position: absolute;

        -moz-transform: none;
        -ms-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        transform: none;
    }

    .countdown.left {
        display: none;
    }

    .countdown.mobile {
        position: absolute;
        right: 20px;
        top: 0;

        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .countdown.right {
        left: auto;
        right: 20px;
        top: 25px;

        -moz-transform: none;
        -ms-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        transform: none;
    }

    .email {
        margin-bottom: 70px;
    }

    .email input {
        padding-right: 15px;
    }

    .email .submit {
        display: none;
    }

    .email .submit-mobile {
        background: #7f7f63;
        display: block;
        margin-top: 10px;
    }

    .logo {
        float: left;
        margin: 0;
        margin-left: 15px;
        margin-top: 20px;
    }

    .other-story {
        margin-bottom: 0;
    }

    .story-wrapper {
        margin-top: 70px;
        padding-left: 30px;
        padding-right: 30px;
        position: relative;
        width: 100%;
    }

    .story-wrapper hr {
        border-color: #fff;
        display: block;
        margin-bottom: 70px;
        opacity: 0.05;
    }
}

@media (max-width: 350px) {
    .links a + a {
        margin-left: 10px;
    }

    .story-desc {
        font-size: 13px;
    }
}

@media (min-width: 501px) {
    .container {
        background-image: none !important;
    }
}

.release-mode .email, .release-mode .countdown {
    display: none !important;
}

.timer-mode .download, .timer-mode .links {
    display: none !important;
}